<ul>
        <li><a href="employees">Employees</a></li>
        <li><a href="orders">Orders</a></li>
        <li><a href="menuitems">Menu Items</a></li>
        <li><a href="payments">Payments</a></li>
        <li><a href="ordermenu">OrderMenus</a></li>
        <li style="float:right"><a  href="/">Restaurant POS</a></li>
</ul>

  <h1>Welcome to the Restaurant POS</h1>

      <h2 id="empheader"><a href="employees">Employees</a>  </h2>
      <h2><a id="ordheader" href="orders">Orders</a></h2>
      <h2 id="menheader"><a href="menuitems">Menu Items</a> </h2>
      <h2><a id="payheader" href="payments">Payments</a></h2>
      <h2><a id="omheader" href="ordermenu">Order Menu</a></h2>
      